/* nav input {
  width: 30rem;
  font-size: 2rem;
  padding: 0.5rem;
} */

/* .logo-and-h1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
} */

/* .logo-and-h1 a {
  border-right: 1px solid black;
  padding-right: 15px;
  margin-right: 10px;
  color: #000;
  font-size: 3rem;
} */

/* 
.nav-icons a {
  margin: 0 2rem;
  font-size: 2.5rem;
  color: #000;
} */

