nav input {
  width: 20rem;
}

.logo-and-h1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-and-h1 a {
  border-right: 1px solid black;
  padding: 10px;
  margin-right: 10px;
}

.nav-searchbar {
  display: flex;
}

.nav-icons a {
  margin: 0 10px;
}

