.comment-section-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  padding: 1rem;
  padding-bottom: 0;
}

.comment {
  width: 100%;
  font-size: 1.2rem;
  margin: 1rem 0;
}

.comment span {
  font-weight: bold;
  margin-right: 5px;
}

.like-and-comment-icons {
  margin: 1rem 0;
}

.like-and-comment-icons button {
  border: none;
  padding: 0;
  margin-right: 1rem;
  cursor: pointer;
}

.like-and-comment-icons i {
  font-size: 2rem;
}

.likes-counter {
  font-size: 1.2rem;
}

.add-comment-input {
  width: 100%;
  border: none;
  border-top: 1px solid #000;
  font-size: 1.4rem;
  padding: 1rem 0;
}

.add-comment-form {
  width: 100%;
  display: flex;
}

.add-comment-form button {
  border: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 2rem;
  position: relative;
  border-top: 1px solid #000;
  padding-bottom: 1rem;
}

.add-comment-form button:hover {
  color: coral;
}
